@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
       url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
       url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
       url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
       url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-blue: #32425C;
  --basic-grey: #3D546F;
  --basic-black: #000000;
  --basic-greylight: #C5C5C5;
  --basic-greylight-rgb: 197, 197, 197;
  --basic-background: #F1F5F7;

  --basic-black-rgb: 0, 0, 0;

  --bluewood: #293449;
  --pickled-bluewood: #32425C;
  --ebony-clay: #212A3A;
  --white: 255, 255, 255;
  --silver: #A9A9A9;
  --silver-rgb: 169, 169, 169;
  --merino: #F9F5F0;
  --mercury: #E5E5E5;
  --mirage: #161D29;
  --dark-mirage: #1D2739;
  --fiord: #405069;
  --wild-sand: #F4F4F4;
  --brick-red: #CA2C37;
  --apple: #518534;
  --ecru-white: #F7F3EC;
  --catskill-white: #F3F7F9;
  --aqua: #F2F6F8;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
}

.page-body {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgb(var(--white));
  min-width: 960px;
}

/* Common */

.button {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  background-color: var(--basic-red);
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--brick-red);
}

.button:active {
  background-color: var(--error);
}

.title {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Header */

.header-bar-top {
  background-color: var(--bluewood);
}

.header-bar-bottom {
  background-color: var(--basic-background);
  padding-bottom: 60px;
}

.header-top-wrapper,
.header-middle-wrapper,
.site-navigation {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.header-top-wrapper {
  display: grid;
  grid-template-columns: 220px 1fr 1fr;
  min-height: 42px;
}

.logo-wrapper {
  position: relative;
}

.logo {
  position: absolute;
  bottom: -5px;
  background-color: var(--basic-red);
  height: 18px;
  width: 108px;
  padding: 12px 56px 17px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.logo:active {
  background-color: var(--error);
}

.form-search {
  position: relative;
}

.form-search svg {
  position: absolute;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.search-input {
  background-color: inherit;
  min-height: 42px;
  padding: 0;
  padding-left: 42px;
  border: none;
  color: rgb(var(--white));
  width: 100%;
}

/* clears the ‘X’ from Internet Explorer */
.search-input::-ms-clear {
  display: none;
  width : 0;
  height: 0;
}

.search-input::-ms-reveal {
  display: none;
  width : 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
.search-input::-webkit-search-decoration,
.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-results-button,
.search-input::-webkit-search-results-decoration {
  display: none;
}

.search-input:focus {
  color: var(--basic-black);
  background-color: rgb(var(--white));
  border: none;
  outline: none;
}

.search-input:hover + .search-icon {
  opacity: 1;
}

.search-input:focus + .search-icon path {
  fill: var(--basic-red);
}

.search-input::placeholder {
  color: rgb(var(--white));
}

.header-inner {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  justify-content: end;
}

.header-bookmark,
.header-cart,
.header-booking {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

.header-bookmark {
  padding-left: 43px;
  padding-right: 38px;
  padding-top: 9px;
  padding-bottom: 9px;
  position: relative;
}

.header-bookmark::before {
  content: "";
  display: block;
  width: 14px;
  height: 16px;
  position: absolute;
  left: 20px;
  top: 13px;
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
}

.header-bookmark:hover::before {
  opacity: 1;
}

.header-bookmark:active {
  color: rgba(var(--white), 0.5);
  background-color: var(--mirage);
}

.header-bookmark:active::before {
  opacity: 0.3;
}

.header-bookmark-nonempty {
  background-color: var(--basic-red);
}

.header-cart {
  position: relative;
  padding-left: 35px;
  padding-right: 21px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.header-cart::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 12px;
  top: 13px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
}

.header-cart:hover::before {
  opacity: 1;
}

.header-cart:active {
  color: rgba(var(--white), 0.5);
  background-color: var(--mirage);
}

.header-cart:active::before {
  opacity: 0.3;
}

.header-cart-nonempty {
  background-color: var(--basic-red);
}

.header-booking {
  background-color: var(--basic-green);
  padding-left: 19px;
  padding-right: 16px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.header-booking:hover,
.header-booking:focus {
  background-color: var(--success);
}

.header-booking:active {
  color: rgba(var(--white), 0.5);
  background-color: var(--basic-green);
}


.header-middle-wrapper {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 20px;
  min-height: 110px;
  padding-top: 45px;
}

.header-title {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  margin: 0;
  margin-left: 30px;
}

.header-contact-phone {
  display: inline-block;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
  color: var(--basic-red);
  padding: 8px 42px 8px 71px;
  border: 3px solid rgb(var(--white));
  position: relative;
  width: auto;
}

.header-contact-phone::before {
  content: "";
  position: absolute;
  display: block;
  width: 19px;
  height: 19px;
  left: 40px;
  top: 13px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.header-contact-address {
  font-size: 14px;
  font-style: inherit;
  line-height: 24px;
  color: var(--basic-blue);
  padding-left: 15px;
}

.user-navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.user-navigation-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-decoration: none;
  display: block;
  background-color: rgb(var(--white));
  margin-left: 10px;
}

.user-navigation-link:hover,
.user-navigation-link:focus {
  color: var(--basic-red);
}

.user-navigation-link:active {
  color: var(--basic-greylight);
}

.user-login {
  padding-top: 12px;
  padding-right: 27px;
  padding-bottom: 12px;
  padding-left: 45px;
  position: relative;
}

.user-login svg {
  position: absolute;
  left: 19px;
  top: 14px;
}

.user-login:hover svg path,
.user-login:focus svg path {
  fill: var(--basic-grey);
}

.user-login:active svg path {
  fill: var(--basic-greylight);
}

.user-registration {
  padding: 12px 24px;
}

.site-navigation {
  background-color: var(--basic-blue);
  box-shadow: inset 0px -5px 0px #293449;
  padding-bottom: 5px;
}

.site-navigation-list {
  list-style: none;
  margin: 0 50px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 55px;
}

.site-navigation-link {
  color: inherit;
  text-decoration: none;
  display: block;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 15px;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  background-color: var(--bluewood);
}

.site-navigation-link:active {
  background-color: var(--dark-mirage);
  color:rgba(var(--white), 0.5);
}

/* Header (Catalog-page)*/

.user-catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-link {
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.user-link:active {
  color: var(--basic-greylight);
}

.logout-link:hover path,
.logout-link:focus path {
  fill: var(--basic-grey);
}

.logout-link:active path {
  fill: var(--basic-greylight);
}

.order-link,
.personal-page-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--pickled-bluewood);
  text-decoration: none;
}

.order-link:hover,
.personal-page-link:hover,
.order-link:focus,
.personal-page-link:focus {
  color: var(--basic-red);
}

.order-link:active,
.personal-page-link:active {
  color: var(--basic-greylight);
}

/* Main Promo */

.promo {
  margin-top: 60px;
  margin-bottom: 60px;
}

.promo-wrapper {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "goods goods goods"
    "slider slider services"
    "slider slider services";
  gap: 20px;
}

.promo-goods-list,
.promo-services-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo-goods-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-area: goods;
  gap: 20px;
}

.promo-services-list {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-area: services;
  gap: 20px;
}

.promo-slider {
  grid-area: slider;
}

.promo-goods-item,
.promo-services-item {
  width: 300px;
  min-height: 123px;
  position: relative;
}

.promo-materials {
  background-color: var(--special-yellow);
  background-image: url(../img/icon-bucket.svg);
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.promo-instrument {
  background-color: var(--special-blue);
  background-image: url(../img/icon-drill.svg);
  background-repeat: no-repeat;
  background-position: 194px 34px;
}

.promo-technics {
  background-color: var(--special-lilac);
  background-image: url(../img/icon-tractor.svg);
  background-repeat: no-repeat;
  background-position: 191px 31px;
}

.promo-sales {
  background-color: var(--special-greenlight);
  background-image: url(../img/icon-cart-promo.svg);
  background-repeat: no-repeat;
  background-position: 196px 26px;
}

.promo-delivery {
  background-color:var(--special-yellow);
  background-image: url(../img/icon-delivery.svg);
  background-repeat: no-repeat;
  background-position: 191px 32px;
}

.promo-goods-text,
.promo-services-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: rgb(var(--white));
  margin: 0;
  position: absolute;
  left: 22px;
  top: 20px;
}

.promo-goods-link,
.promo-services-link {
  display: block;
  font-size: 14px;
  line-height: 38px;
  color: rgb(var(--white));
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(var(--white), 0.3);
  width: 135px;
  height: 38px;
  position: absolute;
  left: 22px;
  top: 64px;
}

.promo-goods-link:hover,
.promo-services-link:hover,
.promo-goods-link:focus,
.promo-services-link:focus {
  background-color: rgba(var(--basic-greylight-rgb), 0.3);
}

.promo-goods-link:active,
.promo-services-link:active {
  background-color: rgba(var(--silver-rgb), 0.3);
}

.promo-slider {
  position: relative;
}

/* .promo-direction-control {
  position: absolute;
  top: 0;
  left: 0;
} */

.direction-control-previous {
  width: 27px;
  height: 27px;
  border-left: 3px solid rgb(var(--white));
  border-bottom: 3px solid rgb(var(--white));
  border-right: none;
  border-top: none;
  transform: rotate(45deg); 
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 115px;
  left: 25px;
}

.direction-control-next {
  width: 27px;
  height: 27px;
  border-left: 3px solid rgb(var(--white));
  border-bottom: 3px solid rgb(var(--white));
  border-right: none;
  border-top: none;
  transform: rotate(225deg); 
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 115px;
  right: 25px;
}

/* .direction-control-previous,
.direction-control-next {
  outline: none;
} */

.promo-position-control {
  position: absolute;
  bottom: 36px;
  width: 30px;
  left: 50%;
  transform: translate(-15px);
  display: flex;
  justify-content: space-between;
}

.position-control-button {
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: rgb(var(--white));
  cursor: pointer;
}

.control-current-button {
  width: 10px;
  height: 10px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--basic-red);
  border: 2px solid rgb(var(--white));
}

.promo-slides-item {
  display: none;
}

.current-slide {
  display: block;
  background-color: var(--basic-black);
  position: relative;
  height: 266px;
}

.promo-slides-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;

  position: absolute;
  left: 24px;
  top: 23px;

  margin: 0;
}

.promo-slides-slogan {
  position: absolute;

  left: 24px;
  top: 64px;

  margin: 0;
}

.promo-slides-button {
  position: absolute;

  left: 24px;
  bottom: 27px;
  width: 192px;
  height: 38px;
  text-align: center;
  line-height: 38px;
}

/* Main - Goods*/
.goods {
  margin-bottom: 70px;
}

.goods-grid {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr;
  gap: 20px;
}

.goods-wrapper {
  background-color: var(--merino);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 28px;
  padding-right: 14px;
}

.goods-title,
.brands-title {
  color: var(--basic-blue);
}

.services-title,
.about-title,
.contacts-title {
  color: var(--basic-black);
}

.goods-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.goods-item {
  width: 220px;
}

.goods-info {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;

  color: var(--basic-black);
}

.goods-info-price {
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--silver);
}

.goods-info-sale {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgb(var(--white));
  text-transform: uppercase;
  background-color: var(--basic-red);
}

.goods-btn-buy {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgb(var(--white));
  background-color: var(--basic-green);
}

.goods-btn-buy:hover,
.goods-btn-buy:focus {
  background-color: var(--success);
}

.goods-btn-buy:active {
  background-color: var(--apple);
}

.goods-btn-bookmark {
  background-color: rgb(var(--white));
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: 3px solid var(--basic-green);
  color: var(--basic-blue);
}

.goods-btn-bookmark:hover,
.goods-btn-bookmark:focus {
  border: 3px solid var(--basic-blue);
  background-color: rgb(var(--white));
}

.goods-btn-bookmark:active {
  opacity: 0.5;
}

/* Main - Brands*/
.brands {
  margin-bottom: 70px;
}

.brands-grip {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr;
  gap: 20px;
}

.brands-wrapper {
  background-color: var(--merino);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 28px;
  padding-right: 19px;
}

.brands-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.brands-item {
  width: 220px;
}

/* Main - Services*/

.services {
  background-color: var(--basic-background);
  padding-top: 64px;
  min-height: 458px;
  margin-bottom: 70px;
}

.services-grid {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: 1fr;
  gap: 20px;
}

.services-title {
  margin: 0;
}

.services-slogan {
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 50px;
}

.services-slider {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 80px;
}

.services-control {
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-control-button {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: rgb(var(--white));
  background-color: var(--basic-blue);
  border: none;
  box-shadow: 0 1px 0 var(--bluewood), inset 0 1px 0 var(--fiord);

  text-align: left;
  box-sizing: border-box;
  min-width: 240px;
  min-height: 61px;
  padding: 0;
  padding-left: 22px;
}

.services-control-button:hover,
.services-control-button:focus {
  background-color: var(--bluewood);
  outline: none;
}

.active-control-button {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-blue);
  background-color: rgb(var(--white));
  box-shadow: none;
  box-shadow: 0 1px 0 rgb(var(--white));
}

.active-control-button:hover,
.active-control-button:focus {
  background-color: rgb(var(--white));
  outline: none;
}

.services-slides-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-slides-item {
  min-height: 283px;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-right: 250px;;
}

.services-slides-item:not(:nth-child(3)) {
  display: none;
}

.services-slides-delivery {
  background-image: url("../img/service-delivery.png");
}

.services-slides-guarantee {
  background-image: url("../img/service-guarantee.png");
}

.services-slides-credit {
  background-image: url("../img/service-credit.png");
}

.services-slides-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue);
  margin: 0;
  margin-bottom: 30px;
}

.services-slides-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin: 0px;
}

.services-slides-button {
  display: block;
  margin-top: 25px;
}

/* Main - About and Contacts*/

.about-and-contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

/* Main - About*/

.about {
  width: 460px;
}

.about-title {
  margin-bottom: 24px;
}

.about-text-top,
.about-text-bottom {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin: 0;
}

.about-text-top {
  margin-bottom: 35px;
}

.about-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-item {
  color: var(--basic-black);
}

/* Main - Contacts*/

.contacts {
  width: 300px;
}

.contacts-title {
  margin-bottom: 24px;
}

.contacts-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 32px;
}

/* Footer */

.footer-bar-top {
  background-color: var(--basic-blue);

}

.footer-bar-bottom {
  background-color: var(--bluewood);
}

.footer-top-wrapper,
.footer-middle-wrapper,
.footer-bottom-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 22px;
}

.footer-navigation-list {
  display: flex;
}

.footer-navigation-item,
.footer-offers-item {
  margin-right: 58px;
}

.footer-navigation-item:last-child,
.footer-offers-item:last-child {
  margin-right: 0;
}

.footer-navigation-list,
.footer-offers-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-navigation-link {
  color: var(--basic-background);
  text-decoration: none;
}

.footer-middle-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 54px;
}

.footer-offers-list {
  display: flex;
}

.footer-offers-link {
  color: var(--special-yellowlight);
  text-decoration: none;
}

.footer-navigation-link:hover,
.footer-offers-link:hover,
.footer-navigation-link:focus,
.footer-offers-link:focus {
  text-decoration: underline;
}

.footer-navigation-link:active,
.footer-offers-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-contact {
  color: var(--catskill-white);
}

.footer-contact-address {
  font-style: inherit;
}

.footer-contact-phone {
  color: inherit;
  text-decoration: none;
}

.footer-bottom-wrapper {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  min-height: 107px;
  align-items: center;
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  color: rgb(var(--white));
  margin: 0;
}

.footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-social-button {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color:var(--ebony-clay);
}

.footer-social-button svg {
  margin: auto;
}

.footer-email,
.footer-developer-copyright {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.footer-email {
  margin-left: 118px;
}

.footer-developer-copyright {
  margin-left: 51px;
  min-width: 110px;
}

.footer-email-link,
.footer-developer-link {
  color: var(--special-yellowlight);
  text-decoration: none;
}

.footer-email-link:hover,
.footer-developer-link:hover,
.footer-email-link:focus,
.footer-developer-link:focus {
  text-decoration: underline;
}

.footer-email-link:active,
.footer-developer-link:active {
  text-decoration: none;
  color: var(--basic-red);
}

/* Modal Feedback*/

.feedback-name,
.feedback-email,
.feedback-text {
  color: var(--basic-black);
}

.feedback-name-input::placeholder,
.feedback-email-input::placeholder,
.feedback-text-input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--silver);
}

.modal-feedback-bottom {
  background-color: var(--wild-sand);
}

/****************************** CATALOG.HTML ***********************************/

.page-catalog {
  display: grid;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-columns: 220px 700px;
  grid-template-areas:
    "breadcrumbs breadcrumbs"
    "title title"
    "filter sort"
    "filter goods";
  gap: 20px;
}

.catalog-title {
  box-sizing: border-box;
  color: var(--pickled-bluewood);
  background: var(--aqua);
  grid-area: title;
  min-height: 90px;
  padding: 29px;
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
  grid-area: breadcrumbs;
  display: flex;
  justify-content: flex-start;
}

.breadcrumbs-item {
  margin-right: 17px;
}

.breadcrumbs-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  text-decoration: none;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  color: var(--basic-red);
}

.breadcrumbs-link:active {
  color: var(--basic-greylight);
}

.breadcrumbs-item:last-child .breadcrumbs-link:hover,
.breadcrumbs-item:last-child .breadcrumbs-link:focus,
.breadcrumbs-item:last-child .breadcrumbs-link:active {
  color: var(--basic-black);
}

.breadcrumbs-link:hover path,
.breadcrumbs-link:focus path {
  fill: var(--basic-grey);
}

.breadcrumbs-link:active path {
  fill: var(--basic-greylight);
}

/* Filters and Sorting */

.filters {
  grid-area: filter;
}

.sort {
  grid-area: sort;
  display: grid;
  grid-template-columns: 220px 380px 60px;
  gap: 20px;
}

.filters-title,
.sort-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  padding: 10px 18px;
  margin: 0;
}

.filters-title,
.sort {
  background-color: var(--ecru-white);
}

.filter-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter-price,
.filter-manufacturers,
.filter-power {
  border: none;
}

.filter-min-price,
.filter-max-price {
  background: #F7F3EC;
  text-align: center;
  border: none;

  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter-manufacturers-list,
.filter-power-list,
.sort-type-list,
.sort-order-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter-input:disabled + .filter-label {
  opacity: 0.4;
}

.catalog-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  background-color: rgb(var(--white));
  color: var(--basic-black);
  border: 1px solid var(--mercury);
  text-decoration: none;
  text-align: center;
  text-align: center;
  text-transform: uppercase;
}

.catalog-button:hover,
.catalog-button:focus {
  border: 1px solid var(--basic-greylight);
  outline: none;
}

.catalog-button:active {
  border: 1px solid var(--basic-red);
}

.sort-type-list {
  padding: 10px 0;
}

.sort-type-item {
  display: inline-block;
}

.sort-type-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(var(--basic-black-rgb), 0.3);

  display: inline-block;
  border-bottom: 1px dotted var(--basic-red);
}

.sort-type-link:hover,
.sort-type-link:focus {
  color: var(--basic-black);
  border-bottom-style: solid;
}

.sort-type-current,
.sort-type-current:hover,
.sort-type-current:focus {
  color: var(--basic-red);
  border-bottom: none;
}

/* Goods Catalog*/
.goods-catalog {
  grid-area: goods;
  display: grid;
  grid-template-rows: min-content min-content;
}

.goods-list-catalog {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 18px;
  column-gap: 20px;
  margin-bottom: 48px;
}

/* Pagination */

.pagination-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-button {
  border-radius: 2px;
}

.pagination-button-current {
  border-radius: 2px;
  background-color: var(--basic-red);
  color: rgb(var(--white));
  border: 1px solid var(--basic-red);
}

.pagination-button-current:hover,
.pagination-button-current:focus {
  border: 1px solid var(--basic-red);
}

/* About good */

.about-good {
  background-color: var(--basic-background);
  padding-top: 64px;
  padding-bottom: 68px;
}

.about-good-title {
  color: var(--basic-black);
}

.about-good-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

/* Modal Add to the Cart */

.modal-add-cart-text {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
}

.button-continue {
  color: var(--basic-black);
  background-color: rgb(var(--white));
  border: 1px solid rgb(var(--white));
}

.button-continue:hover,
.button-continue:focus {
  color: var(--basic-black);
  background-color: rgb(var(--white));
  border: 1px solid var(--basic-greylight);
  outline: none;
}

.button-continue:active {
  border: 1px solid var(--basic-red);
}

.modal-add-cart-inner {
  background-color: var(--basic-background);
}
