@font-face {
    font-family: "Cuprum"; 
    src: url("../fonts/cuprum.woff2") format("woff2"),
        url("../fonts/cuprum.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprumbold.woff2") format("woff2"),
        url("../fonts/cuprumbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprumitalic.woff2") format("woff2"),
        url("../fonts/cuprumitalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
        url("../fonts/cuprumbolditalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
} 

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
} 

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsansbold.woff2") format("woff2"),
        url("../fonts/ptsansbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
} 

:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-blue: #32425C;
    --basic-grey: #3D546F;
    --basic-black: #000000;
    --basic-greylight: #C5C5C5;
    --basic-greylight-rgb: 197, 197, 197;
    --basic-background: #F1F5F7;
    
    
    --bluewood: #293449;
    --white: 255, 255, 255;
    --silver: #A9A9A9;
    --silver-rgb: 169, 169, 169;
    --merino: #F9F5F0;
    --mirage: #161D29;
    --dark-mirage: #1D2739;
    --wild-sand: #F4F4F4;
    --brick-red: #CA2C37;
    --apple: #518534;
    --catskill-white: #F3F7F9;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --success: #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
}

.page-body {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: rgb(var(--white));
}

/* Common */

.button {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    background-color: var(--basic-red);
    border: none;
}

.button:hover,
.button:focus {
    background-color: var(--brick-red);
}

.button:active {
    background-color: var(--error);
}

/* Header */

.header-top-wrapper {
    background-color: var(--bluewood);
}

.logo {
    background-color: var(--basic-red);
}

.logo:active {
    background-color: var(--error);
}

.search-input {
    background-color: inherit;
}

.search-input:focus {
    color: var(--basic-black);
    background-color: rgb(var(--white));
}

.search-input::placeholder {
    color: rgb(var(--white));
}

.header-bookmark,
.header-cart,
.header-booking {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
}

.header-bookmark:active,
.header-cart:active {
    color: rgba(var(--white), 0.5);
    background-color: var(--mirage);
}

.header-booking {
    background-color: var(--basic-green);
}

.header-booking:hover,
.header-booking:focus {
    background-color: var(--success);
}

.header-booking:active {
    color: rgba(var(--white), 0.5);
    background-color: var(--basic-green);
}

.header-middle-wrapper {
    background-color: var(--basic-background);
}

.header-title {
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
}

.header-contact-phone {
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    text-decoration: none;
    color: var(--basic-red);
}

.header-contact-address {
    font-size: 14px;
    font-style: inherit;
    line-height: 24px;
    color: var(--basic-blue);
}

.user-navigation-link {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    text-decoration: none;
}

.user-navigation-link:hover,
.user-navigation-link:focus {
    color: var(--basic-red);
}

.user-navigation-link:active {
    color: var(--basic-greylight);
}

.site-navigation {
    background-color: var(--basic-blue);
}

.site-navigation-list {
    list-style: none;
}

.site-navigation-link {
    color: inherit;
    text-decoration: none;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
    background-color: var(--bluewood);
}

.site-navigation-link:active {
    background-color: var(--dark-mirage);
    color:rgba(var(--white), 0.5);
}

/* Main - Promo*/

.promo-goods-list,
.promo-services-list {
    list-style: none;
}

.promo-materials {
    background-color: var(--special-yellow);
}

.promo-instrument {
    background-color: var(--special-blue);
}

.promo-technics {
    background-color: var(--special-lilac);
}

.promo-sales {
    background-color: var(--special-greenlight);
}

.promo-delivery {
    background-color:var(--special-yellow);
}

.promo-goods-text,
.promo-services-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: rgb(var(--white));
}

.promo-goods-link,
.promo-services-link {
    font-size: 14px;
    line-height: 18px;
    color: rgb(var(--white));
    text-decoration: none;
    background-color: rgba(var(--white), 0.3);
}

.promo-goods-link:hover,
.promo-services-link:hover,
.promo-goods-link:focus,
.promo-services-link:focus {
    background-color: rgba(var(--basic-greylight-rgb), 0.3);
} 

.promo-goods-link:active,
.promo-services-link:active {
    background-color: rgba(var(--silver-rgb), 0.3);
}

.promo-slides-item {
    background-color: var(--basic-black);
}

.promo-slides-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

/* Main - Goods*/

.goods-wrapper {
    background-color: var(--merino);
}

.title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.goods-title,
.brands-title {
    color: var(--basic-blue);
}

.services-title,
.about-title,
.contacts-title {
    color: var(--basic-black);
}

.goods-list {
    list-style: none;
}

.goods-info {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    
    color: var(--basic-black);
}

.goods-info-price {
    font-size: 17px;
    line-height: 18px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: var(--silver);
}

.goods-info-sale {
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgb(var(--white));
    text-transform: uppercase;
    background-color: var(--basic-red);
}

.goods-btn-buy {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgb(var(--white));
    background-color: var(--basic-green);
}

.goods-btn-buy:hover,
.goods-btn-buy:focus {
    background-color: var(--success);
}

.goods-btn-buy:active {
    background-color: var(--apple);
}

.goods-btn-bookmark {
    background-color: rgb(var(--white));
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    border: 3px solid var(--basic-green);
    color: var(--basic-blue);
}

.goods-btn-bookmark:hover,
.goods-btn-bookmark:focus {
    border: 3px solid var(--basic-blue);
    background-color: rgb(var(--white));
}

.goods-btn-bookmark:active {
    opacity: 0.5;
}

/* Main - Brands*/

.brands-wrapper {
    background-color: var(--merino);
}

.brands-list {
    list-style: none;
}

/* Main - Services*/

.services {
    background-color: var(--basic-background);
}

.services-slogan {
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
}

.services-control {
    list-style: none;
}

.services-control-button {
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: rgb(var(--white));
    background-color: var(--basic-blue);
}

.services-control-button:hover,
.services-control-button:focus {
    background-color: var(--bluewood);
}

.active {
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-blue);
    background-color: rgb(var(--white));
}

.active:hover,
.active:focus {
    background-color: rgb(var(--white));
}

.services-slides-list {
    list-style: none;
}

.services-slides-delivery {
    background-image: url("../img/service-delivery.png");
    background-repeat: no-repeat;
}

.services-slides-guarantee {
    background-image: url("../img/service-guarantee.png");
    background-repeat: no-repeat;
}

.services-slides-credit {
    background-image: url("../img/service-credit.png");
    background-repeat: no-repeat;
}

.services-slides-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-blue);
}

.services-slides-text {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black); 
}

/* Main - About*/

.about-text-top,
.about-text-bottom {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
}

.about-list {
    list-style: none;
}

.about-item {
    color: var(--basic-black);
}

/* Main - Contacts*/

.contacts-text {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
}

/* Footer */

.footer-top-wrapper,
.footer-middle-wrapper {
    background-color: var(--basic-blue);
}

.footer-bottom-wrapper {
    background-color: var(--bluewood);
}

.footer-navigation-list,
.footer-offers-list {
    list-style: none;
}

.footer-navigation-link {
    color: var(--basic-background);
    text-decoration: none;
}

.footer-offers-link {
    color: var(--special-yellowlight);
    text-decoration: none;
}

.footer-navigation-link:hover,
.footer-offers-link:hover,
.footer-navigation-link:focus,
.footer-offers-link:focus {
    text-decoration: underline;
}

.footer-navigation-link:active,
.footer-offers-link:active {
    text-decoration: none;
    opacity: 0.5;
}

.footer-contact {
    color: var(--catskill-white);
}

.footer-contact-phone {
    color: inherit;
    text-decoration: none;
}

.footer-copyright {
    font-size: 16px;
    line-height: 18px;
    color: rgb(var(--white));
}

.footer-social-list {
    list-style: none;
}

.footer-email,
.footer-developer-copyright {
    font-size: 16px;
    line-height: 18px;
}

.footer-email-link,
.footer-developer-link {
    color: var(--special-yellowlight);
    text-decoration: none;
}

.footer-email-link:hover,
.footer-developer-link:hover,
.footer-email-link:focus,
.footer-developer-link:focus {
    text-decoration: underline;
}

.footer-email-link:active,
.footer-developer-link:active {
    text-decoration: none;
    color: var(--basic-red);
}

/* Modal Feedback*/

.feedback-name,
.feedback-email,
.feedback-text {
    color: var(--basic-black);
}

.feedback-name-input::placeholder,
.feedback-email-input::placeholder,
.feedback-text-input::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--silver);
}

.modal-feedback-bottom {
    background-color: var(--wild-sand);
}

